body{
	font-family: 'VT323', monospace;
	text-align:center;
}

#title-text{
	font-size: 64px;
	color: #222222;
}

h3{
	font-size: 28px;
}

.title{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;

}

canvas{
	z-index: 0;
	position: absolute;
	left: 0;
	top: 0;
}

button{
	text-align:center;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #E1E1E1;
    border: 2px solid #222222;
    font-family: 'VT323', monospace;
    font-size: 18px;
    	cursor: pointer;

}
